.drawer__Container {
    margin: 0;
    width: 100vw;
    height: 90vh;
    border: none;
}

.mainBody {
    overflow-x: visible;
}

.main-content {
    margin-top: 8.5vh;
    min-height: 100vh;
}

.body__heading {
    position: fixed;
    top: 0;
    width: 99vw;
    z-index: 10;
}

.home__page--heading {
    height: 1vh;
    border: 4px solid red;
}

.home__page--img {
    height: 51vh;
    position: relative;
    overflow: hidden;
}

.company-Info {
    position: absolute;
    top: 2.5vh;
    left: 38vw;
    font-weight: 600;
    -webkit-text-stroke: 1.5px rgb(0, 48, 180);
    font-size: 6vh;
}

.welcomeMsg {
    position: absolute;
    top: 20vh;
    left: 44vw;
}

.welcomeMsg h2 {
    font-weight: 600;
}

.welcomeMsg h2 {
    color: white;
}

.shopNow-btn a {
    padding: 1.5rem 2rem;
    border-radius: 5px;
    background-color: var(--deepBlue-color);
    color: var(--white-color);
    font-size: 1.5rem;
    border: none;
}

.shopNow-btn a:hover {
    background-color: var(--darkBlue-color);
}

.home-bg {
    position: absolute;
    top: 0;
}

.home__page--categories {
    min-height: 60vh;
    margin: 10vh 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bestSelling {
    border: 4px solid black;
    min-height: 70vh;
    width: 90vw;
    overflow-x: scroll;
    display: flex;
}

.newReleases {
    border: 4px solid black;
    height: 70vh;
    width: 90vw;
    overflow-x: scroll;
    display: flex;
}

.siteInfo {
    height: 10vh;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.siteInfo p {
    margin: 0.5rem;
}
.siteInfo a {
color: white;
text-decoration: underline;
margin: 0.5rem;
}

strike {
    margin-left: 0.6rem;
    font-weight: 500;
}

.discount {
    color: green;
    margin-left: 0.8rem;
    font-size: 1.2rem;
}


@media only screen and (max-width: 800px) {
    .company-Info {
        margin: 2vh;
        font-size: 4vh;
    }
}