@import url('/CSS/index.css');

.cart {
    margin-top: 8.5vh;
    min-height: 81vh;
    width: 98.8vw;
    background-color: var(--background-color2);
}

.cart-Heading {
    font-size: 3rem;
    font-weight: 600;
    padding: 6rem auto;
    display: flex;
    justify-content: center;
}

.cart-Heading span {
    margin-top: 5vh;
}

.cart-Container {
    margin: 1rem;
}

.card-img2 {
    overflow: hidden;
    height: 1vh;
}

.card2 {
    overflow: hidden;
    margin: 1rem;
    min-height: 30vh;
}

.card3 {
    min-height: 30vh;
}