<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://aesthetic-ui.netlify.app/CSS/components.css">
    <link rel="stylesheet" href="/components/cartPage/cart.css">
    <title>Cart page</title>
</head>

<body>
    <main>
        <section class="drawer__Container drawer__Container--Modal">
            <div class="drawer__menu modalDrawer1" id="modalDrawer1">
                <div class="drawer__title">
                    <h2 class="drawer__heading">Items</h2>
                </div>

                <div class="sidebar__item">
                    <a href="/"><i class="fas fa-inbox"><span class="textDrawer">Item 1</span></i></a>
                </div>
                <div class="sidebar__item">
                    <a href="/"><i class="fas fa-star"><span class="textDrawer">Item 2</span></i></a>
                </div>
                <div class="sidebar__item">
                    <a href="/"><i class="fas fa-clock"><span class="textDrawer">Item 3</span></i></a>
                </div>
                <div class="sidebar__item">
                    <a href="/"><i class="fas fa-paper-plane"><span class="textDrawer">Item 4</span></i></a>
                </div>
                <div class="sidebar__item">
                    <a href="/"><i class="fas fa-file"><span class="textDrawer">Item 5</span></i></a>
                </div>
                <div class="sidebar__item">
                    <a href="/"><i class="fas fa-tag"><span class="textDrawer">Item 6</span></i></a>
                </div>
                <div class="sidebar__item">
                    <a href="/"><i class="fas fa-trash"><span class="textDrawer">Item 7</span></i></a>
                </div>
                <div class="sidebar__item">
                    <a href="/"><i class="fas fa-exclamation-triangle"><span class="textDrawer">Item 8</span></i></a>
                </div>
            </div>
            <div class="mainBody">
                <div class="modal__body" id="modalDrawerMainBody">
                    <div class="body__heading space-between">
                        <div class="left">
                            <i class="fas fa-bars fa-2x  hamburgerMenuDismissible" id="hamburgerMenuModal1"></i>
                            <h3 class="third-heading"><a href="/index.html">Logo</a></h3>
                        </div>
                        <div class="navIcons">
                            <span><button class="log"><a href="/components/Login/login.html" rel="noopener noreferrer">Log In</a></button></span>
                            <span><a href="/components/wishlistPage/wishlist.html"
                                rel="noopener noreferrer"><i class="fas fa-2x fa-heart"></i></a></span>
                            <span><a href="/components/cartPage/cart.html" rel="noopener noreferrer"><i class="fas fa-2x fa-shopping-cart"></i></a></span>

                        </div>
                    </div>

                    <div class="cart">
                        <h1 class="cart-Heading"><span>My Cart</span><span>(1)</span></h1>
                        <div class="cart-Container center wrap">
                        <div class="card2 horizontal-Card">
                            <aside class="float-cardLeft">
                                    <div class="background-Image">
                                            <img class="card-img2" src="/assets/images/bg5.jpg" alt="photo" />
                                    </div>
                            </aside class="float-cardRight">
                            <aside>
                                    <div class="card-title2">
                                            <h2>BlackMole India Map Wooden Puzzle, Statewise Cut, Easy to Hold knobs, Beautiful.
                                                    Illustration with Major Attractions. </h2>
                                    </div>
                                    <div class="description1">
                                            <p class="item-price">₹ 3500</p>
                                            <p>
                                                    <label for="quantity">Quantity:</label>
                                                    <input class="itemQuantity" type="number" id="quantity" name="quantity" min="1"
                                                            max="5">
                                            </p>
                                    </div>
                                    <div class="horizontalCard-footer">
                                            <button class="horizontal-btn removeItem-btn">Remove from Cart</button>
                                            <button class="horizontal-btn moveItem-btn">Move to Wishlist</button>
                                    </div>
                            </aside>
                        </div>

                        <div class="card3 text-Card">
                            <div class="card3-title">
                                    <h2 class="card-details">Price Details</h2>
                                    <hr>
                            </div>
                            <div class="description3">
                                    <p class="space"><span>Price:</span><span>₹ 1500</span></p>
                                    <p class="space"><span>Quantity:</span><span>2</span></p>
                                    <p class="space"><span>Discount:</span><span>₹ 200</span></p>
                                    <hr>
                                    <p class="total-price space"><span>TOTAL AMOUNT</span><span>₹ 2800</span></p>
                                    <hr>
                                    <p>You will save ₹ 200 on this order.</p>
                            </div>
                            <div class="txtCard-footer">
                                    <button class="order-btn">PLACE ORDER</button>
                            </div>
                        </div>
                    </div>
                    </div>
                    
                
                    
                </div>
            </div>
        </section>
    </main>
    <footer class="siteInfo">
        <p>Copyright © 2022 Creative kids</p>
            <p class="footer--icons">
                <span><a href="https://github.com/krgarima" target="_blank" ><i class="fab fa-2x fa-github"></i></a></span>
                <span><a href="https://twitter.com/GarimaK29063577" target="_blank" ><i class="fab fa-2x fa-twitter"></i></a></span>
                <span><a href="https://www.linkedin.com/in/garima-469878175" target="_blank" ><i class="fab fa-2x fa-linkedin"></i></a></span>
            </p>
    </footer>
    <script src="https://kit.fontawesome.com/d53bb09bcf.js" crossorigin="anonymous"></script>
</body>

</html>