<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://aesthetic-ui.netlify.app/CSS/components.css">
    <link rel="stylesheet" href="/components/SignUp/signUp.css">
    <title>SignUp page</title>
</head>

<body>
    <main>
        <section class="drawer__Container drawer__Container--Modal">
            <div class="drawer__menu modalDrawer1" id="modalDrawer1">
                <div class="drawer__title">
                    <h2 class="drawer__heading">Mail</h2>
                </div>

                <div class="sidebar__item">
                    <a href="/"><i class="fas fa-inbox"><span class="textDrawer">Inbox</span></i></a>
                </div>
                <div class="sidebar__item">
                    <a href="/"><i class="fas fa-star"><span class="textDrawer">Starred</span></i></a>
                </div>
                <div class="sidebar__item">
                    <a href="/"><i class="fas fa-clock"><span class="textDrawer">Snoozed</span></i></a>
                </div>
                <div class="sidebar__item">
                    <a href="/"><i class="fas fa-paper-plane"><span class="textDrawer">Sent</span></i></a>
                </div>
                <div class="sidebar__item">
                    <a href="/"><i class="fas fa-file"><span class="textDrawer">Drafts</span></i></a>
                </div>
                <div class="sidebar__item">
                    <a href="/"><i class="fas fa-tag"><span class="textDrawer">Important</span></i></a>
                </div>
                <div class="sidebar__item">
                    <a href="/"><i class="fas fa-trash"><span class="textDrawer">Trash</span></i></a>
                </div>
                <div class="sidebar__item">
                    <a href="/"><i class="fas fa-exclamation-triangle"><span class="textDrawer">Spam</span></i></a>
                </div>
            </div>
            <div class="mainBody">
                <div class="modal__body" id="modalDrawerMainBody">
                    <div class="body__heading space-between">
                        <div class="left">
                            <i class="fas fa-bars fa-2x  hamburgerMenuDismissible" id="hamburgerMenuModal1"></i>
                            <h3 class="third-heading"><a href="/index.html">Logo</a></h3>
                        </div>
                        <div class="navIcons">
                            <span><button class="log"><a href="/components/Login/login.html"
                                        rel="noopener noreferrer">Log In</a></button></span>
                            <span><a href="/components/wishlistPage/wishlist.html"
                                    rel="noopener noreferrer"><i class="fas fa-2x fa-heart"></i></a></span>
                            <span><a href="/components/cartPage/cart.html" rel="noopener noreferrer"><i
                                        class="fas fa-2x fa-shopping-cart"></i></a></span>

                        </div>
                    </div>

                    <div class="SignUp center">
                        <div class="signUp-Container">
                            <h1 class="signUp-heading">Sign Up</h1>
                            <div class="signup-contents">
                                <label for="userNm" class="userNm">Email address</label>
                                <input type="text" class="userNm" id="userNm" placeholder="Enter username">
                                <br>
                                <label for="userPswd" class="userPswd">Password</label>
                                <input type="password" class="userPswd" id="userPswd" placeholder="Enter password">
                                <br>
                                <div class="check">
                                <input type="checkbox" name="userAgreement" class="userAgreement" id="userAgreement">
                                <label for="userAgreement">I accept all Terms & Conditions</label>
                                </div>
                                <br>
                                <button class="signup-btns createNewAccount-btn">Create New Account</button>
                                <br>
                                <button class="signup-btns toLoginPage-btn"><a href="/components/Login/login.html" rel="noopener noreferrer">Already have an account></a></button>
                            </div>
                        </div>
                    </div>
        </section>
    </main>
    <footer class="siteInfo">
        <p>Copyright © 2022 Creative kids</p>
            <p class="footer--icons">
                <span><a href="https://github.com/krgarima"><i class="fab fa-2x fa-github"></i></a></span>
                <span><a href="https://twitter.com/GarimaK29063577"><i class="fab fa-2x fa-twitter"></i></a></span>
                <span><a href="https://www.linkedin.com/in/garima-469878175"><i class="fab fa-2x fa-linkedin"></i></a></span>
            </p>
    </footer>
    <script src="https://kit.fontawesome.com/d53bb09bcf.js" crossorigin="anonymous"></script>
</body>

</html>
