@import url('/CSS/index.css');

.SignUp {
    margin-top: 8.5vh;
    min-height: 81vh;
    width: 98.6vw;
    font-size: 1.3rem;
    background-color: rgb(231, 227, 227);
}

.signUp-heading {
    font-size: 3.5vh;
    font-weight: 600;
    margin: 1.5rem 0 2rem 0;
}

.signUp-Container {
    width: 25vw;
    height: 60vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}

.signup-contents {
    width: 18vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.signup-contents input {
    height: 3.5vh;
}

.userAgreement {
    margin: 0 1rem;
}

.check {
    display: flex;
    align-items: center;
}

.signup-btns {
    border: none;
    width: 85%;
    padding: 6px;
    margin: 0 2vw;
}

.createNewAccount-btn {
    background-color: var(--deepBlue-color);
}

.createNewAccount-btn:hover {
    background-color: var(--darkBlue-color);
    color: var(--white-color);
}

.toLoginPage-btn {
    background-color: var(--white-color);
}

.toLoginPage-btn:hover {
    border: 2px solid var(--deepBlue-color);
    border-radius: 2px;
}

/********** mobile mode *********/

@media only screen and (max-width: 800px) {
    .signUp-Container {
        width: 40vw;
    }

     .signup-contents {
            width: 36vw;
}
}

@media only screen and (max-width: 500px) {
    .signUp-Container {
        width: 80vw;
    }

     .signup-contents {
            width: 60vw;
}
}
